
.container-error{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 40px;
    width: 100%;
    
}

.container-error span{
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
}

.container-error h1{
    font-family: sans-serif;
    font-size: 60px;
    color: red;
}


.container-error a{
    font-size: 35px;
    text-decoration: none;
    color: #151b26;
}

.container-error a:hover{
    transition: all 0.4s;
    color:#000ffd;
}
